<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batches</title>
</head>
<body>
    <div class="login"><a href="/login"><button>Login/Signup</button></a></div>
    <div class="aboutus"><a href="/aboutus"><button>About Us</button></a></div>
    <div class="batches"><a href="/batches"><button>Batches</button></a></div>
    <div class="news"><a href="/news"><button>News</button></a></div>
</body>
</html>